SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=bskoushik30@gmail.com
SMTP_PASS=qlks lnzq zzzl tlhk
CONTACT_FROM_EMAIL=Seasons Landscapers <your-email@example.com>
CONTACT_TO_EMAIL=bskoushik06@gmail.com